html, body, h1{
  margin: 0;
  padding: 0;
}

* {
  border: 0;
}

section, article, aside, header, footer, nav, dialog, figure, #blc_assist {
  display: block;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  color: black;
  background-image: url("background.jpg");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  background-position: right top;
  background-attachment: fixed;
  /* background-color: #e4e4ef; */
}

a {
  text-decoration: none;
  font-size:18px;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: justify;
  font-size: 18px;
  line-height: 130%;
}

h1{
  font-size: 60px;
  margin-bottom: 15px;
  margin-top:20px;
  line-height: 1em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #201e45;
}


.container {
  max-width: 100%;
  height: 120px;
  padding: 30px 0px 15px 0px;
  background-image: url(libras2.png);
  background-color: #9bd9ff;
  background-repeat: no-repeat;
  background-size: 500px 100px;
  background-position: 50% 50%;
  margin:auto;
}

.menu {
  background-color:rgba(240, 123, 123, 0.932);
  margin-top:0px;
}

.menu ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-top:0px;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  display: block;
  padding: 15px 30px;
  color: #e4e4ef;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.menu ul li a:hover{
  background-color:rgba(240, 123, 123, 0.932) ;
  color:#404267;
}

.intent {
  text-indent: 30px;
}

.questao{
  height:300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
  width: 500px;
  color: black;
}

.questao > img{
  max-height: 200px;
  max-width: 200px;
}

.questao > ul{
  list-style: none;
  float: left
}

.questao >ul:nth-child(2n) {
  float:right;
}

.container_miolo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 30px 60px 100px 80px;
  max-width: 1000px;
  background-color: #e4e4ef;
}

img.alfabeto {
  height:190px;
  width:268px;
}

video.alfabeto {
  height:190px;
  width:268px;
}

.container_alfabeto{
  display: inline-block;
  margin: auto;
  width: 33%;
  vertical-align: top;
}

.container_linha_alfabeto{
  margin-left: 80px;
  margin-bottom:50px;
}

.subtitulo{
  font-size: 22px; 
  font-weight: bold; 
  margin-top:50px; 
  margin-bottom:20px
}