<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Learn Libras</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="author" content="Sofia Katherine Cimardi, Vanessa... e Vinicius Hedler">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Learn Libras</h1>
    </div>
    <header id="inicio">
    <nav class="menu">
    <ul>
    <li><a href="/" class="active">Home</a></li>
    <li><a href="conteudo">Conteúdos</a></li>
    <li><a href="atividades">Atividades</a></li>
    <li><a href="mais">Mais</a></li>
    </ul> 
    </nav>
    </header>

    <div class="container_miolo">
        <p>Parabéns por realizar a Lista {{lista_id}}</p>
        {%for q in lista:%}
            <p>Questão {{q.id + 1}}:{%if q in questoes_corretas:%}CORRETA{%else:%}Incorreta{%endif%}</p>
        {%endfor%}
        
    </div>
    
    
    <br><br>
</body>
</html>
